body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #8a6b2c;
}
.row{
  margin:0;
}
.header{
  padding: 0px !important;
}
.navbar{
	border-radius: 0px !important;
	height:73px;
	padding-top: 10px;
	box-shadow: 3px 3px 5px gray;
}
.sidebar{
  border: 1px solid #222222;
  height:100vh;
  box-shadow: 3px 3px 5px gray;
  background-color: #353535;
}
.sidebar-header{
	height:73px;
	border-bottom: 1px solid gray;
}
.nopadding{
	padding: 0 !important;
}
.toppadding{
	text-align: center;
	padding-top: 25px; 
}
.nav-ul{
	
	color: white;
	/*height:100vh;*/
}
.toppadding, a{
	color: white;
}
.content{
	background-color: white;
	margin-top: 0px;
	margin-top: -19px;
	height: 90.9vh;
	/*overflow-y: scroll;*/
}
.login{
	height: auto !important;
	margin: 0 auto;	
    float: none;
    margin-top: 200px;
    background: rgba(193, 154, 77, 0.51);
    border: 2px solid #543c0b;
    box-shadow: 5px 5px 5px #543c0b;
    overflow-y: hidden;
}
.add_comment{
	margin-top: 130px;
}
.padding{
	padding: 20px;
}
.margin_top{
	margin-top: 15px;
}
label{
	font-size: 2em;
    color: white;
    border-bottom: 2px solid;
}
.main{
    position: initial;
    padding: 0 !important;
}
.comment_box{
	margin-top: 50px;
	background-color: #337ab7;
    height: 70.9vh;
	overflow-y: scroll;
}
.comments_header{
	background-color: #337ab7;
	padding: 20px 0 20px 0;
	position: fixed;
	max-height: 79%;
	max-width: 79%;
	z-index: 99;
}
.comments_heading_text{
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: white;
    padding: 6px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 5px;
}
.comments_heading{
	/*background: #337ab7;*/
}
.comments_content{
	margin-top: 50px;
}
.comments_toggle_button{
	padding: 6px;
    font-size: 25px;
    font-weight: 600;
    background-color: #205d92;
}
ul li{
	list-style: none;
}
.comments{
	
    border: 0.5px solid white;
    /*overflow-y: scroll;*/
    border-radius: 10px;	
}
.comment-head{
	text-align: left;
    font-weight: 600;
    font-size: 2em;
    border-bottom: 2px solid;
}
.comment-body{
	text-align: left;
    font-size: 1.5em;
    color: white;
    font-weight: 100;
    line-height: 2;
}
.delete{
	color: #094579;
    font-size: 0.7em;
}
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #144875;
}
.scrollbar
{	
	height: 85px;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.services a{
	color: black;
	font-size: 2em;
}
/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
